/* /login */

.loginContainer {
    margin: auto;
    width: 490px;
    margin-top: 6%;
    border-radius: 5px;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 20px;
    background: white;
    font-size: 35px;
}

.icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 14px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.logindFormRaw {
    margin-top: 9px;
    height: 52px;
    font-size: 30px;
}

.logindFormRawButton {
    width: 150px;
}

/* /cook header */

.myheader {
    text-align: center;
    background-color: white;
    margin-top: 0px;
    padding: 16px;
    font-size: xx-large;
    margin-bottom: 30px;
}

.textleft {
  text-align: left;
}

.textright {
  text-align: right;
}

.textcenter {
  text-align: center;
}


/* /cook table */


.stopwaitingbtn {
    margin-top: 40px;
}

.infoblock {
    margin-top: 15px;
    line-height: 24px;
    border-radius: 5px;
    background: white;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 22px;
    padding-bottom: 30px;
}

.mybutton {
    font-size: 30px;
}

.infoblockname {
    text-align: center;
    font-size: 39px;
    margin-bottom: 33px;
}

/* /admin */

.binbutton {
    padding: 0px;
}

.binimage {
    width: 31px;
    height: 29px;
}

.rownameinfo {
    text-align: right;
    font-size: 20px;
}

/*manager*/

.ingredientinput {
    Border: none;
    outline: none;
    background: 0;
}
.td_1 {
    width: 35px;
    text-align: center;
}


.td_2 {
    width: 35%;
}

.td_btn {
    width: 7%;
    text-align: center;
}

